<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Subject</title>
    <%- include ('./partials/head.ejs')%>
  </head>
  <body>
    <form class="" action="/add_subject" method="post">
      <h1>subject name</h1>
      <input type="text" name="subject">
      <input type="submit" value="submit">
    </form>
    <a href="/showsub">show me subjects</a>
  </body>
</html>
